@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* HEADER */
.main-container {
  width: 375px;
  margin: auto;
  position: relative;
}



@media (min-width: 1100px) {
  .content {
    display: flex;
    padding: 85px 24px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 1100px;
  }
}

.cart_empty{
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  color: hsl(220deg, 14%, 75%);;
}

#line{
  border-bottom: 4px solid orange;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
}

@media (min-width: 1100px) {
  .header {
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
    height: 112px;
  }
}
.header__navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1100px) {
  .header__navigation {
    width: 590px;
  }
}
.header__menu {
  margin: 20px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .header__menu {
    display: none;
  }
}
.header__cart {
  position: relative;
}

.header__cart--notification {
  display: none;
  background-color: hsl(26deg, 100%, 55%);
  height: 12px;
  width: 15px;
  position: absolute;
  top: -2px;
  right: -5px;
  text-align: center;
  font-size: 0.6em;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.header__cart-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

@media (min-width: 1100px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__avatar {
  width: 24px;
}

@media (min-width: 1100px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  display: none;
  width: 400px;
}

@media (min-width: 1100px) {
  .navbar {
    display: block;
  }
}
.navbar__items {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  color: hsl(219deg, 9%, 45%);
  display: block;
  height: 112px;
  padding-top: 42px;
}

.navbar__link:hover {
  border-bottom: 4px solid orange;
}

.modal-navbar-div {
  display: none;
  z-index: 1;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#car {
  cursor: pointer;
}

.modal-navbar {
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
  width: 200px;
  padding: 28px;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

.modal-navbar_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  margin-top: 50px;
}

.modal-navbar_close {
  cursor: pointer;
}

.modal-navbar__link {
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}



.gallery__image-container {
    background-image: url(./shoes_1.png);
  height: 350px;
  background-size: 400px;
background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
@media (min-width: 1100px) {
  .gallery__image-container {
    width: 100%;
    border-radius: 20px;
    height: 450px;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-size: cover;
  }
}

.gallery__image-container:hover {
  cursor: pointer;
}

.gallery__previous {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 15px;
}

.gallery__previous:hover {
  cursor: pointer;
}

.gallery__next {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  right: 15px;
  padding: 12px;
}

@media (min-width: 1100px) {
  .gallery__next, .gallery__previous {
    display: none;
  }
}

.gallery_thumnails {
  display: none;
}

@media (min-width: 1100px) {
  .gallery_thumnails {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    width: 50%;
    height: 100px;
  }
}
.gallery__thumnail {
  border-radius: 20px;
}

.details {
  padding: 24px;
}
@media (min-width: 1100px) {
  .details {
    padding: 70px 120px;
  }
}

.details__company {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: hsl(26deg, 100%, 55%);
  margin-bottom: 12px;
}

.details__title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.7em;
  margin-bottom: 16px;
}
@media (min-width: 1100px) {
  .details__title {
    font-size: 2em;
  }
}

.details__description {
  color: hsl(219deg, 9%, 45%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.94em;
  line-height: 24px;
  margin-bottom: 24px;
}

.details__prices {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1100px) {
  .details__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;
}

.details__descount {
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  font-size: 0.5em;
  padding: 4px;
  border: 4px;
}

.details__before {
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
  text-decoration: line-through;
}

.input {
  background-color: hsl(223deg, 64%, 98%);
  height: 57px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_minus {
  width: 25px;
  height: 100%;
  padding: 24px 5px;
}

.input_plus {
  width: 25px;
  height: 100%;
  padding: 19px 3px;
}

.input_plus, .input_minus:hover {
  cursor: pointer;
}

@media (min-width: 1100px) {
  .input_plus, .input_minus {
    width: 20px;
    height: 50px;
  }
}

.input__number {
  background-color: hsl(223deg, 64%, 98%);
  width: 100%;
  border: 0px solid;
  text-align: center;
  font-size: 1.2em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  outline: none;
}

.details__button {
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.details__button:hover {
  opacity: 0.5;
}

@media (min-width: 1100px) {
  .details__product-quantity {
    display: flex;
    margin-top: 40px;
    gap: 40px;
  }
}

.cart-modal {
  display: none;
  width: 360px;
  height: 260px;
  position: absolute;
  box-shadow: 3px 3px 10px;
  top: 75px;
  background-color: hsl(0deg, 0%, 100%);
  right: 6px;
}

.modal-gallery__thumnail {
  cursor: pointer;
}

.cart-modal__title {
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}

.cart-modal__details-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  color: hsl(219deg, 9%, 45%);
}

.cart-modal__checkout-container {
  padding: 24px;
}

.cart-modal__image {
  width: 50px;
  border-radius: 4px;
}

.cart-modal__product {
  color: hsl(219deg, 9%, 45%);
}

.alt {
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}

.cart-modal__deletee {
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.modal-gallery {
  width: 446px;
  margin: 110px auto;
}

.modal-gallery__backgroundd {
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: absolute;
}

.modal-gallery__image-container {
  background-image: url(./images/image-product-1.jpg);
  height: 446px;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-gallery__previous {
  background-color: hsl(0deg, 0%, 100%);
  width: 35px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 330px;
  left: 310px;
}

.gallery__thumnail {
  cursor: pointer;
}

.modal-gallery__previous:hover {
  cursor: pointer;
}

.modal-gallery__next {
  background-color: hsl(0deg, 0%, 100%);
  width: 35px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 330px;
  right: 310px;
  padding: 12px;
}

.modal-gallery_thumnails {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  width: 80%;
  height: 95px;
}

.modal-gallery__thumnail {
  border-radius: 20px;
}

.modal-gallery__close {
  position: absolute;
  top: 85px;
  right: 330px;
  cursor: pointer;
}

.cart-modal__empty{
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
}

.cart-modal__checkout-btn {
  width: 100%;
  height: 57px;
  border-radius: 8px;
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 0.9em;
  font-weight: 700;
}

.cart-modal__delete{
  cursor:pointer;
  }




  .container__footer{
    display: flex;
   background-color:hsl(26deg, 100%, 55%);
      height:50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1500px;
        margin: auto;
    }


    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
        min-width: 100px;
    }

    .box__footer .terms{
        max-width: 100px;
        margin-top: 20px;
        font-weight: 500;
        color: 1F6BA3;
        font-size: 18px;
min-width: 300px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .box__footer h2{
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700;
    }

    .box__footer a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
        text-decoration: none;
    }

    .box__footer a:hover{
       color: white;
    }

    .box__footer a .fab{
        font-size: 20px;
    }

    .box__copyright{
       background-color: orange;
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 150px;
    }

    .box__copyright p{
        margin-top: 20px;
        color: black;
    }

    .box__copyright hr {
        border: none;
        height: 1px;
        background-color: #orange;
    }

    @media screen and (max-width: 1099px){
      .container__footer{
   height: 100%;
      }

  }
